.projects {
  margin-top: 1rem;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(
    circle 815px at 23.4% -21.8%,
    rgba(9, 29, 85, 1) 0.2%,
    rgba(0, 0, 0, 1) 100.2%
  );
  color: #fff;
  margin-bottom: 5rem;
}

.swiper-container {
  width: 100%;
  margin-top: 3.5rem;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  height: 300px !important;
  text-align: center;
  display: flex !important;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.projects-card {
  width: 100%;
  height: 100%;
  background: #07182e;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
  padding: 0 0.5rem;
  cursor: pointer;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.projects-card img {
  z-index: 1;
  width: 100%;
  height: 70%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin-bottom: 1rem;
}

.projects-card h5 {
  z-index: 1;
  font-family: var(--font-yekan);
}

.projects-card::before {
  content: "";
  position: absolute;
  width: 100px;
  background-image: linear-gradient(    180deg,    rgb(0, 183, 255),    rgb(255, 48, 255)  );
  height: 150%;
  animation: rotBGimg 7s linear infinite;
  transition: all 0.2s linear;
  -webkit-animation: rotBGimg 7s linear infinite;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.projects-card::after {
  content: "";
  position: absolute;
  background: #07182e;
  inset: 5px;
  border-radius: 15px;
}

@media screen and (max-width: 420px) {
  .projects {
    padding: 2rem;
  }
}
