.projects {
  margin-top: 1rem;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(
    circle 815px at 23.4% -21.8%,
    rgba(9, 29, 85, 1) 0.2%,
    rgba(0, 0, 0, 1) 100.2%
  );
  color: #fff;
  margin-bottom: 5rem;
}

.swiper-container {
  width: 100%;
  margin-top: 3.5rem;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  height: 300px !important;
  text-align: center;
  background: #fff;
  color: black;
  display: flex !important;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}


@media screen and (max-width: 420px){
    .projects{
        padding: 2rem;
    }
}