@import "./reset.css";

@font-face {
  font-family: yekan;
  src: url(/src/assets/fonts/Yekan.ttf);
}
@font-face {
  font-family: ghasem;
  src: url(/src/assets/fonts/AGhasem.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue-color: #0396ff;
  --white-color: #fff;
  --font-yekan: yekan;
  --font-ghasem: ghasem;
}

.app {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  font-family: var(--font-yekan);
}

header {
  background-image: url(/src/assets/images/background4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  padding-top: 2rem;
}
